
{% extends "fundacion/base.html" %}
{% load static %}
{% block content %}
    <div class="register-photo" style="background-color: rgba(76,24,108,0.72);">
        <div class="form-container">
            
            {% if user.is_authenticated %}
            <form method="POST" style="background-color: rgb(247,247,247);">
                {% csrf_token %}
                <h2 class="text-center"><strong>Creacion de Proyectos</strong></h2>
                <a>id proyecto</a>
                <div class="form-group"><input class="form-control" type="text" name="id_proyecto" placeholder="" style="background-color: rgb(255,255,255);"></div>                                
                <a>Nombre</a>
                <div class="form-group"><input class="form-control" type="text" name="nombre" placeholder="" style="background-color: rgb(255,255,255);"></div>
                <a>Descripción</a>
                <div class="form-group"><textarea name="descripcion" rows="10" cols="80"></textarea></div>
                <a>Logo</a>
                <div class="form-group"><input type="file" name="logo" accept="image/png, .jpeg, .jpg,"></div>                    
                <a>Jefe de Proyecto</a>
                <div class="form-group"><input class="form-control" type="text" name="jefe"placeholder="", style="background-color: rgb(255,255,255);"></div>
                <a>Fecha de inicio</a>
                <div class="form-group"><input class="form-control" type="text" name="fecha_inicio" placeholder="" style="background-color: rgb(255,255,255);"></div>
                <a>Fecha de Termino</a>
                <div class="form-group"><input class="form-control" type="text" name="fecha_termino" placeholder="" style="background-color: rgb(255,255,255);"></div>
                <a>Cantidad de Voluntarios</a>
                <div class="form-group"><input class="form-control" type="number" name="cantidad_voluntarios" placeholder="" style="background-color: rgb(255,255,255);"></div>
                <a>Presupuesto</a>
                <div class="form-group"><input class="form-control" type="text" name="presupuesto" placeholder="" style="background-color: rgb(255,255,255);"></div>

                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(71,151,244);">Crear Proyecto</button></div>
            </form>
            {% else %}
                <h2 class="text-center"><strong>No esta autorizado primero debe iniciar sesion</strong></h2>
                <a class="text-center nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
            {% endif %}
        </div>
    </div>

{% endblock content %}