{% load static %}
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block tittle %} fundacion {% endblock tittle %}</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css'%} ">
        <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/styles.css'%}">
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        {% include "fundacion/navbar.html" %}

        {% block content %}
        {% endblock content %}

        {% include "fundacion/footer.html" %}
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block scripts %}
        {% endblock scripts %}
    </body>
</html>