{% load static %}
<!DOCTYPE html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <title>{% block tittle %} Fundacion La Casa {% endblock tittle %}</title>
        <link rel="stylesheet" href="{% static 'assets/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css'%} ">
        <link rel="stylesheet" href="{% static 'assets/css/Footer-Clean.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/Registration-Form-with-Photo.css'%}">
        <link rel="stylesheet" href="{% static 'assets/css/grad.css'%}">
        <link rel="stylesheet" href=""
        {% block head %}
        {% endblock head %}
    </head>

    <body>
        {% include "fundacion/navbar.html" %}

        {% block content %}
        {% endblock content %}

        {% include "fundacion/footer.html" %}
        <script src="{% static 'assets/js/jquery.min.js' %}"></script>
        <script src="{% static 'assets/bootstrap/js/bootstrap.min.js' %}"></script>
        {% block scripts %}
        <script>
              function validacion(rut){
                  //rut = document.getElementById("rut_field").value;
                  if(!(/^\d{7,8}-\d|[k,K]/.test(rut.value))){
                    if(!rut.value == ""){
                      alert("Ingrese el rut con el formato correcto");
                    }
                  }
              }
        </script>

        {% endblock scripts %}

    </body>
</html>
