{% extends "fundacion/base.html" %}

{% block content %}
    <div style="background-color: transparent; height:705px;">
        </br></br>
            <div class="container">
                <div class="intro" style="background-color: rgb(247,247,247);height:500px; margin-top: 40px">
                    </br></br></br>
                        <h3 class="text-center">Un error ha ocurrido al registrar el Voluntario</h3>
                    </br>
                        <p class="text-center">Por favor intentelo nuevamente, revise que toda la informacion este correcta y que ningun campo este vacio</p>
                </div>
            </div>
    </div>

{% endblock content %}
