{% extends "fundacion/base.html" %}
{% load static %}

{% block content %}
<div class="register-photo" style="background-color: transparent;">

    <div class="container" style="background-color: transparent;">
        {% if user.is_authenticated %}
            {% if voluntarios %}
                {% for voluntario in voluntarios %}
                    <div class="card" style="margin-top: 10px" >
                        <div class="card-body">
                            <p class="card-text">{{ voluntario.nombre }}</p>
                            <p class="text-muted">Rut: {{ voluntario.rut }}</p>
                            <p class="card-subtittle; text-muted">Edad: {{ voluntario.edad }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p class="text-center">Para ingresar al sistema por favor inicie Sesion</p>
            <a class="text-center nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
        {% endif %}
    </div>

</div>
{% endblock content %}
