{% extends "fundacion/base.html" %}
{% load static %}

{% block content %}
<div class="register-photo" style="background-color: rgba(76,24,108,0.72);">
   
    <div class="container" style="background-color: white">
        {% if user.is_authenticated %}
            {% if voluntarios %}
            {% comment %}#############PRUEBA DE LISTA PARA ELEGIR##############{% endcomment %}
                <select class="form.control" name="proyecto_actividad">
                    {% for voluntario in voluntarios %}
                        <option value="1">{{ voluntario.nombre }}</option>
                    {% endfor %}
                </select>
            {% comment %}#############PRUEBA DE LISTA PARA ELEGIR##############{% endcomment %}

                {% for voluntario in voluntarios %}
                    <div class="card" style="margin-top: 10px" >
                        <div class="card-body">
                            <p class="card-text">{{ voluntario.nombre }}</p>
                            <p class="text-muted">Rut: {{ voluntario.rut }}</p>
                            <p class="card-subtittle; text-muted">Edad: {{ voluntario.edad }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        {% else %}
            <p class="text-center">Para ingresar al sistema por favor inicie Sesion</p>
            <a class="text-center nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
        {% endif %}    
    </div>  
  
</div>    
{% endblock content %}