{% extends 'fundacion/base.html' %}

{% block content %}
<body>
    <div style="background-color: rgba(76,24,108,0.72); height:705px;">
    </br></br>
        <div class="container">
            <div class="intro" style="background-color: rgb(247,247,247);height:500px; margin-top: 40px">
                </br></br></br>
                <h3 class="text-center">Bienvenido a Fundacion La Casa</h3>
                </br>
                {% if user.is_authenticated %}
                    <p class="text-center">Usuario autenticado</p>
                {% else %}
                    <p class="text-center">Para ingresar al sistema por favor inicie Sesion</p>
                    <a class="text-center nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
                    <a class="text-center nav-link" href="{% url 'login' %}">Ir al sitio de administrador</a>
                {% endif %}
            </div>

        </div>
    </div>
</body>
{% endblock content %}