{% load static %}
<div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(247,247,247);">
            <div class="container"><a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" style="width: 130px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">

                        {% if user.is_authenticated %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'crearVoluntarios' %}">Registar Voluntario</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'GestionVoluntarios' %}">Gestion de Voluntarios</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Gestion de Proyectos</a></li>
                        {% else %}

                        {% endif %}

                        {% if user.is_superuser %}
                             <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">Cuentas de Usuario</a></li>
                        {% endif %}  
                    </ul>
                    {% if user.is_authenticated %}
                        <span class="navbar-text actions"> <a style="margin: 10px">{{user.username}}</a></span>
                        <span class="navbar-text actions"> <a href="{% url 'logout' %}" class="salir">Salir</a></span>
                    {% else %}
                        <span class="navbar-text actions"> <a href="{% url 'login' %}" class="login">Iniciar Sesion</a></span>
                    {% endif %}    
                </div>
            </div>
        </nav>
    <div></div>
</div>

