{% load static %}
<div></div>
    <div>
        <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="background-color: rgb(247,247,247);">
            <div class="container"><a class="navbar-brand" href="{% url 'index' %}"><img src="{% static 'assets/img/logo.png' %}" style="width: 130px;"></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                <div
                    class="collapse navbar-collapse" id="navcol-1">
                    <ul class="nav navbar-nav mr-auto">

                        {% if user.is_authenticated %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#">Voluntarios</a>
                                <ul class="submenu">
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'crearVoluntarios' %}">Registro de Voluntarios</a>
                                    <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'GestionVoluntarios' %}">Gestión de Voluntarios</a>
                                
                                </ul>
                            
                            </li>

                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'crearProyectos' %}">Gestion de Proyectos</a></li>
                        
                        {% else %}

                        {% endif %}

                        {% if user.is_superuser %}
                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'register' %}">Cuentas de Usuario</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="{% url 'admin:index' %}">Administrador</a></li>

                        {% endif %}  
                    </ul>
                    {% if user.is_authenticated %}
                        <span class="navbar-text actions"> <a style="margin: 10px">{{user.username}}</a></span>
                        <span class="navbar-text actions"> <a href="{% url 'logout' %}" class="salir">Salir</a></span>
                    {% else %}
                        <span class="navbar-text actions"> <a href="{% url 'login' %}" class="login">Iniciar Sesion</a></span>
                    {% endif %}    
                </div>
            </div>
        </nav>
    <div></div>

    <style type="text/css">

        ul, ol {
            list-style:none;
        }

        .nav li ul {
            background-color:rgb(247,247,247);
            clor:#fff;
            text-decoration:none;
            padding:5px 5px;
            display:block;
        }
        
        .nav li:hover {
            background-color:#D7D7D7;
        }

        .nav li ul {
            display:none;
            position: absolute;
            min-width:200px;
            font-family: 'Open sans';
        }

        .nav li:hover > ul {
            display:block;
        } 

    </style>
</div>

