
{% extends "fundacion/base.html" %}
{% load static %}

{% block content %}
    <div class="register-photo" style="background-color: rgba(76,24,108,0.72);">
        <div class="form-container">
            
            <form method="post" style="background-color: rgb(247,247,247);">
                {% csrf_token %}
                <h2 class="text-center"><strong>Registrar Voluntario</strong></h2>
                <div class="form-group"><input class="form-control" type="text" name="nombre" placeholder="Nombre" style="background-color: rgb(255,255,255);"></div>
                <div class="form-group"><input class="form-control" type="text" name="apellido" placeholder="Apellido" style="background-color: rgb(255,255,255);"></div>
                <div class="form-group"><input class="form-control" type="text" name="rut" placeholder="Rut" style="background-color: rgb(255,255,255);"></div>

                <a>Fecha de nacimiento</a>
                <div class="form-group"><input class="form-control" type="text" name="fecha_nacim" placeholder="dia/mes/año" style="background-color: rgb(255,255,255);"></div>
                <a>Celular</a>
                <div class="form-group"><input class="form-control" type="tel" name="celular" placeholder="Ejemplo: 912345678" style="background-color: rgb(255,255,255);"></div>
                <div class="form-group"><input class="form-control" type="text" name="comuna" placeholder="Comuna" style="background-color: rgb(255,255,255);"></div>
                <div class="form-group"><input class="form-control" type="email" name="email" placeholder="Email" style="background-color: rgb(255,255,255);"></div>

                <a>Ocupacion</a>
                <div class="form-group"><select class="form-control " style="background-color: rgb(255,255,255);"><option value="estudiante" selected="estudiante">Estudiante</option><option value="trabajador">Trabajador</option><option value="casa">Dueña de casa</option></select></div>
                <a>Nivel Educacional</a>
                <div class="form-group"><select class="form-control" style="background-color: rgb(255,255,255);"><option value="basica" selected="basica">Basica </option><option value="media">Media</option><option value="universitaria">Universitaria</option></select></div>
                <a>Grupo de Interes</a>
                <div class="form-group"><select class="form-control" style="background-color: rgb(255,255,255);"><option value="childrens" selected="basica">Niños</option><option value="adultos">Adultos</option><option value="disc">Personas Con Discapacidad</option></select></div>
                
                <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(71,151,244);">Registrar</button></div>
            </form>
        </div>
    </div>

{% endblock content %}