{% extends 'fundacion/base.html' %}
{% load static %}

{% block content %}
	<div class="register-photo" style="background-color: rgba(76,24,108,0.72);">
        	<div class="form-container">
			{% if user.is_authenticated %}
			<form method="POST" style="background-color: rgb(247,247,247);">
				<h2>Registro de Usuario</h2>
				  <form method="post">
				    {% csrf_token %}
				    {% for field in form %}
				      <p>
					{{ field.label_tag }}<br>
					{{ field }}
					{% if field.help_text %}
					  <small style="color: grey">{{ field.help_text }}</small>
					{% endif %}
					{% for error in field.errors %}
					  <p style="color: red">{{ error }}</p>
					{% endfor %}
				      </p>
				    {% endfor %}
				    <button class="btn btn-primary btn-block" type="submit" style="background-color: rgb(71,151,244);">Registrar usuario</button></div>
				  </form>
			</form>

			{% else %}
			<h2 class="text-center"><strong>No esta autorizado primero debe iniciar sesion</strong></h2>
			<a class="text-center nav-link" href="{% url 'login' %}">Iniciar Sesion</a>
		</div>
        {% endif %}	
	</div>
  
{% endblock %}
